asgiref==3.2.7
asn1crypto==0.24.0
attrs==19.3.0
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
cryptography==2.1.4
dj-database-url==0.5.0
Django==3.0.5
Fiona==1.8.13.post1
geopandas==0.7.0
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
munch==2.5.0
numpy==1.18.3
pandas==1.0.3
progress==1.5
psycopg2==2.8.5
pycrypto==2.6.1
pygobject==3.26.1
pyproj==2.6.0
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.25
SecretStorage==2.3.1
Shapely==1.7.0
six==1.11.0
sqlparse==0.3.1
unattended-upgrades==0.1